<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>TPC</title>

        {% load staticfiles %}
		<!-- Page styles -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.min.css">
		<link rel="stylesheet" href="styles.css">

		<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<style>
			body {
				color: white;
			}
			.login-box {
				<!--background-color:#fafafa;-->
				color:black;
				border-radius:5px;
				padding-bottom:20px;
			}
		</style>

	</head>
	<body class="mdl-color--purple-A700">

		<div class="mdl-grid" style="padding:30px;">
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
			</div>
		</div>

		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset" >
				<center>
				<h4>Welcome to</h4>
				<h2>Training and Placement Cell</h2>
				</center>
			</div>
		</div>

		<div class="mdl-grid mdl-cell mdl-cell--4-col mdl-cell--4-offset login-box mdl-shadow--6dp mdl-color--grey-100">

			<form action="{% url 'tpcprocess:login' %}" method="post" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="left:10%">
                    <label class="mdl-textfield__label mdl-color-text--black" for="user">Username</label>
                    <input class="mdl-textfield__input mdl-color-text--black" name="username" type="text" id="user">
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="left:10%">
                    <label class="mdl-textfield__label mdl-color-text--black" for="pass">Password</label>
                    <input class="mdl-textfield__input mdl-color-text--black" name="password" type="password" id="pass">
                </div>
                <br />
                <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--purple-A700"
                            id="loginButton" value="Login" style="left:35%" >
                <br />
			</form>


		</div>

        <div>
        <br />
            <a href="{% url 'tpcprocess:register_stu' 0 %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--brown-800"
               style="left:39%" >
                Student Reg
            </a> &nbsp;&nbsp;&nbsp;
            <a href="{% url 'tpcprocess:register_stu' 1 %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--brown-800"
               style="left:39%" >
                Company Reg
            </a>
        </div>

	</body>
</html>
